*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background: wheat;
    padding: 20px;
    width: 450px;
    max-width: 100%;

}
h3{
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
}
.inp{
    position: relative;
    margin-top: 30px;
    display: flex;
}
.bg .ran{
    display: inline-block;
    padding: 10px 20px;
    background: brown;

}
.inp input{
width: 100%;
padding: 0 5px;
border: 1px solid whitesmoke;
outline-color: aquamarine;

}
.tip,
.amt{
    width: 100%;
    padding: 1 0px;
    background: whitesmoke;
}